// Variable overrides
$blue: #1e9ec0 !default;

// Custom Bootstrap variable overrides go first
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 640px,
  lg: 992px,
  xl: 1300px,
  xxl: 1600px
);

$headings-font-family: "Fira sans", sans-serif !default;

// Then include the following
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

// And define any of your custom or additional CSS/SCSS here,
// or via an @import
